{% extends 'base.html' %}

{% block title %} Funcionários {% endblock %}

{% block main %}
  <h2>Lista de Funcionários</h2>
  <ul>
    {% for funcionario in object_list %}
      <li>
        <a href="{% url 'funcionarios:editar_funcionario' funcionario.id %}">
          {{ funcionario }}
        </a>
        <a href="{% url 'funcionarios:deletar_funcionario' funcionario.id %}" class="btn btn-danger">
          Deletar
        </a>
      </li>
    {% empty %}
      Não há funcionários para listar
    {% endfor %}
  </ul>

{% endblock %}
